/* Typeface faces extracted from Handbook theme sources. */
@font-face {
	font-family: "Labrada";
	font-weight: normal;
	font-style: normal;
	src: url("fonts/labrada-1.woff2");
}

@font-face {
	font-family: "Labrada";
	font-weight: normal;
	font-style: italic;
	src: url("fonts/labrada-2.woff2");
}

@font-face {
	font-family: "Labrada";
	font-weight: bold;
	font-style: normal;
	src: url("fonts/labrada-3.woff2");
}

@font-face {
	font-family: "Labrada";
	font-weight: bold;
	font-style: italic;
	src: url("fonts/labrada-4.woff2");
}
