/* Shared, redistributable Handbook typography. */
@font-face {
  font-family: "IM Fell English";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/im-fell-english-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/averia-serif-libre-latin-700-normal.woff2") format("woff2");
}
